.cart {
    display: flex;
    gap: 100px;
    margin: 100px auto;
    width: 100%;
    max-width: 1300px;
    justify-content: space-evenly;
}

.list-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 0;
}

.cart-card {
    display: flex;
    gap: 20px;
}

.cart-img img {
    width: 120px;
    height: 140px;
}

.cart-right {
    max-width: 420px;
}