@import "mixins";

.catalog_page {
  padding-top: 100px;
  padding-bottom: 100px;

  .catalog_text {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      @include readex_font;
      font-size: 48px;
      line-height: 60px;
      color: $main_color;
      margin-bottom: 19px;
      @include max-screen(605px) {
        font-size: 40px;
        line-height: 50px;
      }
      @include max-screen(528px) {
        font-size: 35px;
        line-height: 45px;
      }
      @include max-screen(480px) {
        font-size: 30px;
        line-height: 40px;
      }
      @include max-screen(432px) {
        font-size: 35px;
      }
      @include max-screen(385px) {
        font-size: 30px;
      }
      @include max-screen(337px) {
        font-size: 25px;
        line-height: 35px;
      }
      @include max-screen(289px) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
    .filter{
      button{
        margin: 10px 10px 0 10px;
        text-decoration: none;
        @include inter_font;
        color:$main_color;
        font-size: 14px;
        line-height: 17px;
        background: #F8F9FA;
        border: 1px solid #C5C5C5;
        border-radius: 200px;
        padding: 6px 11px;
        @include max-screen(569px){
          font-size: 10px;
          line-height: 13px;
          padding: 6px 12px;
        }

        &:hover{
          @include min-screen(767px){
            color: white;
            background-color: #151515;
          }
        }
        &.active {
          color: white;
          background-color: #151515;
        }
      }
    }
  }

  .catalog_box{
    flex-wrap: wrap;
    justify-content: center;

  }
  .catalog_card{
    margin-bottom: 20px;
    margin-right: 18px;
    width: 413px;
    background: #F8F9FA;
    border-radius: 16px;
    text-align: center;

    .catalog_card_img{
      img{
        width: 300px;
        height: 350px;
        padding-top: 40px;
        padding-bottom: 40px;
        object-fit: contain;

      }
    }
    .catalog_card_text{
      margin-bottom: 30px;
    }
    h3{
      @include readex_font;
      color: $main_color;
      font-size: 22px;
      line-height: 28px;
      text-decoration: none;
      margin-bottom: 15px;
    }
    p{
      @include inter_font;
      color: $main_color;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
    button {
      @include inter_font;
      font-size: 16px;
      line-height: 17px;
      background: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 10px 20px;
      text-decoration: none;
      margin: 5px;

      &:hover {
        color: white;
        background-color: #151515;
      }

      a {
        text-decoration: none;
        color: $main_color;

        &:hover {
          color: white;
        }
      }
    }
  }
  .pagination{
    text-align: center;
    padding-top: 30px;
    button {
      @include inter_font;
      color:$main_color;
      font-size: 14px;
      line-height: 17px;
      background: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 200px;
      padding: 12px 22px;
      margin: 5px;

      &:hover, {
        color: white;
        background-color: #151515;
      }

      &.active{
        color: white;
        background-color: #151515;
      }
    }
  }
}