$main_color: #000000;

@mixin inter_font{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin readex_font{
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

@mixin screen($min, $max)
{
  @media screen and (min-width: $min) and (max-width: $max)
  {
    @content;
  }
}

@mixin min-screen($min)
{
  @media screen and (min-width: $min)
  {
    @content;
  }
}
