@import "mixins";

.account{
  padding-top: 100px;
  padding-bottom: 100px;
  .account_menu {
    width: 20%;
    background: #DCE5E2;
    padding: 20px;
    border-radius: 20px;
    min-height: 50vh;
    h3{
      @include readex_font;
      color:$main_color;
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 30px;
      @include max-screen(450px){
        font-size: 28px;
        line-height: 30px;
      }
      @include max-screen(326px){
        font-size: 25px;
        line-height: 27px;
      }
    }
    li{
      list-style: none;
      margin-bottom: 20px;
      a{
        @include inter_font;
        font-size: 20px;
        line-height: 18px;
        color: $main_color;
        text-decoration: none;

        &:hover{
          font-weight: 600;
        }
        @include max-screen(767px){
          font-size: 20px;
          line-height: 23px;
          font-weight: 600;
        }
      }
    }

  }

  .account_content {
    flex: 1;
    padding: 20px;
    .entrance{
      .entrance_login{
        margin-top: 30px;
      }
      .entrance_signup{
        margin-top: 30px;
      }
      nav{
        border-bottom: 1px solid #C5C5C5;
        li{
          list-style: none;
          margin-right: 20px;
          a{
            @include inter_font;
            font-size: 20px;
            line-height: 18px;
            color: $main_color;
            text-decoration: none;
            &.active{
              border-bottom: 2px solid #393f39;
            }
          }
        }
      }
    }
  }
}